
* ,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    
}


.contact{
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 1000;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    transition: 0.3s;
    margin-bottom: 40px;

}
.mail{
    display: flex;
    gap: 5px;
    margin-left: 80px;
   
}
.mail p{
    padding: 15px;
}
.telephone{
    display: flex;
    gap: 5px;
    padding: 10px;
}
.telephone p{
    padding: 8px;
}
.icons{
   display: flex;
   gap: 25px;
   margin-left: 500px;
   padding: 15px;
  
}
.icons a{
    color: gray;

}
.navbar{
    position: fixed;
    top: 40px;
    left: 0;
    height: 60px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(15, 20, 27, 0.774);
    font-family: sans-serif;
    font-weight: 100;
    z-index: 999;
    padding: 0 20px;
    
}
main{
    padding-top: 100px;
}
.navbar h1{
    padding: 20px;
    padding-left: 60px;
}
.nav-links ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 30px;
    padding-right: 100px;
}
.nav-links ul a{
    color:rgba(15, 20, 27, 0.774); 
}
.nav-links ul a:hover{
    color: orangered;
}
#home{
    background: url(img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    color: rgb(255,255,255);
    margin-top: 50px;
}
.hero{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    padding-left: 60px;
   
}
.para{
    padding-bottom: 50px;
    padding-top: 20px;
    height: 30vh;
}
.para h1{
    font-family: sans-serif;
    font-size:2.5rem;
    font-weight: 600;
}
.para p{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: sans-serif;
}
.cards{
    display: grid;
    place-items: center;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 20px;
   padding: 30px;
   text-align: center;
}
 .card1{
     padding: 30px; 
    padding-top: 50px;
    padding-bottom: 50px; 
    margin-top: -60px; 
   background-color: rgb(255,88,33);
}
.card1 h2{
    padding-bottom: 25px;
    font-weight: 800;
    font-size: 2rem;
    font-family: sans-serif;
}
.card1 p{
    padding-bottom: 100px;
    font-family: serif;
    font-size: 1rem;
    /* letter-spacing: 1.5px; */
}
.card1 button{
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    font-size: 1.2em;
    border: none;
    background-color: rgb(253, 141, 100);
    color: white;
    border-radius: 30px;
    cursor: pointer;
}
.card1 button:hover{
    background-color: white;
    color: orangered;
} 
 .card{
    padding: 40px;
    height: 350px;
    background-color: rgb(62,55,54);
    opacity: 0.8;
    border-radius: 10px;
 }

.card h3{
    padding-bottom: 25px;
    font-size: 1.25rem;
    font-weight: 800;
    padding-top: 25px;
    color: rgb(255,255,255);
}
.container{
    display: flex;
    gap: 30px;
     padding: 60px;
     background-color: rgb(247, 247, 246);
} 
.paragraphe{
    display: flex;
}
.paragraphes h2{
    font-family: sans-serif;
    font-size:2rem;
    padding-bottom: 15px;
    font-weight: 600;
    color:  rgba(15, 20, 27, 0.774);
}
.parag{
    padding: 25px;
   
}
.parag h4{
    font-size: 1.2em;
    color: rgba(15, 20, 27, 0.774) ;
}
.clients{
    display: flex;
    gap: 100px;
    margin: 30px;
    padding: 50px;
    
    
}
#services{
     background-color:rgb(247, 247, 246) ;
}
.service{
    text-align: center;
    padding-top: 50px;
}
.service h2{
    font-family: sans-serif;
    font-size:2rem;
    padding-bottom: 15px;
    font-weight: 600;
    color:  rgba(15, 20, 27, 0.774);

}
.carte{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin: 40px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    
    
}
.carte h3{
    padding-bottom: 30px;
}
.cartes h3:hover{
    color: orangered;
}
.cartes{
    border: 1px solid rgb(214, 211, 211);
     padding: 40px;
    height: 250px;
    background-color:white ;
}
.cartes img{
    margin-top: -90px;
}
.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px;
   gap: 20px;
    text-align: center;
    min-height: 100vh;
}
.image1{
    
    background: url(img/services-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
   
}
.image1:hover{
    transform: scale(1.2);
}
.image2{
     background: url(img/services-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 15px;
     transition: 0.3s ease-in-out;
}
.image2:hover{
    transform: scale(1.1);
}
.image3{
     background: url(img/services-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 15px;
     transition: 0.3s ease-in-out;
}
.image3:hover{
    transform: scale(1.1);
}
.image4{
     background: url(img/services-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 15px;
     transition: 0.3s ease-in-out;
}
.image4:hover{
    transform: scale(1.1);
}
.par{
    color: rgba(15, 20, 27, 0.774);
    background-color: rgb(247, 238, 238);
    padding: 30px;
    border-radius: 15px;
    margin: 20px;
    margin-top: 230px;
}
.par h2{
    padding-bottom: 20px;
}
.par h2:hover{
    color: orangered;
    cursor: pointer;

}
.temoignages{
    background: url(img/testimonials-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    
   

}
.temoignage{
    background-color:  rgba(0, 0, 0, 0.6);
    padding: 40px;
    text-align: center;
    min-height: 70vh;
}
.temoignage img{
    border-radius: 50%;
    margin-top: 70px;
    border: 5px solid rgba(0, 0, 0, 0.6);
}
.temoignage h2{
    font-weight: 800;
    margin-bottom: 15px;
}
span{
    color: yellow;
}
#portfolio{
    margin: 30px;
    padding: 30px;
    text-align: center;
}
.port h2{
     font-family: sans-serif;
    font-size:2rem;
    padding-bottom: 10px;
    font-weight: 600;
    color:  rgba(15, 20, 27, 0.774);
}
.port p{
    padding-bottom: 40px;
}
.btn button{
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: white;
    font-size: large;
    cursor: pointer;
}
.btn button:hover{
    background-color: orangered;
    color: white;
}
.btn .btn1{
    background-color: orangered;
    color: white;
}
.folios{
    display: grid;
    gap: 20px 0;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
   
}
.folio9{
    margin-top: -335px;
}
.folio4{
    margin-top:-50px;
    margin-bottom: 90px;
}
.folio8{
    margin-top: -10px;
    margin-bottom: 70px;
    margin-right: -762px;
}
.folio7{
    margin-right: -760px;
    margin-top: -55px;
}
.folio5{
    margin-top: -50px;
}



